<h1>Crear Nueva Categoría</h1>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Crear Nueva Categoría</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Nombre de la Categoría</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <button type="submit" class="btn btn-primary">Crear Categoría</button>
                <a href="{% url 'core:index' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>
