<h1>Lista de {% if categoria %}{{ categoria.nombre }}{% else %}Productos{% endif %}</h1>

<ul>
    {% for producto in productos %}
        <li>
            {{ producto.nombre }} --- <a href="{% url 'product:productos_por_categoria' producto.categoria.id %}">{{ producto.categoria.nombre }}</a>
        </li>
        <a href="{% url 'product:editar_producto' producto.id %}">Editar
    {% endfor %}
</ul>

{% if  request.resolver_match.url_name == 'productos_por_categoria' %}
    <a href="{% url 'product:lista_de_productos' %}">Volver a la lista completa de productos</a>
{% endif %}

<a href="{% url 'product:crear_producto' %}">Crear Nuevo Producto</a>